@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --present-color: #FFC100; /* Default value */
}


body {
  font-family: "Urbanist";
}

.w-70percent {
  width: 70%;
}

title {
  font: x-large;
}

/* 67a852 */

/* 0a739a */

.container {
  display: flex; /* Allow children to arrange in columns */
  justify-content: center; /* Center the columns horizontally */
}

.column {
  width: 50%; /* Each column takes up half the available space */
  text-align: center; /* Center the labels within each column */
}



.attendance-chart-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
