@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply  bg-gradient-to-br from-[#A2C579] to-[#61A3BA];
    font-family: 'Urbanist';
    }


    title {
        font: x-large;
      }

    /* 67a852 */

    /* 0a739a */



    .column {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
